.containerPreview {
    padding: 20px 0 20px 5px;
    margin-left: -5px;
    max-height: 580px;
}

.container {
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
    padding: 10px 5px;
    cursor: pointer;
    box-shadow: inset 3px 3px 5px rgba(55, 84, 170, 0), inset -3px -3px 5px rgba(255, 255, 255, 0);
    transition: box-shadow .25s ease;
  }

  .userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }

  .containerInformation {
    height: 65px;
    overflow: hidden;
    margin-bottom: -10px;
    margin-left: 19px;
    width: 77%;
}

  .information {
    display: flex;
    margin-top: 5px;
  }

  .UserName {
    color: #3C475A;
    font-size: 18px;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    text-align: end;
    flex-grow: 1;
    color: #838B99;
    font-size: 12px;
    line-height: 27px;
  }

  .informationChat {
    display: flex;
  }


  .lastMessageUnreaded {
    text-align: center;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    background-color: #6da8ff;
    color: #fff;
    border-radius: 11px;
    padding: 0 7px;
    width: min-content;
    margin: 0 0 0 5px;
    box-shadow: 2px 3px 5px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }

  .lastMessageText {
    color: #838B99;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    flex-grow: 1;
  }