<div class="containerPreview" (click)="openChatDialog()">
    <div class="container">
        <div class="userImage">
            <img src="./assets/img/profile+.png">
        </div>
        <div class="containerInformation">
            <div class="information">
                <div class="UserName">Username</div>
                <div class="time">Uhrzeit</div>
            </div>
            <div class="informationChat">
                <div class="lastMessageText">Letzter gesenderter Text hier anzeigen</div>
                <div class="lastMessageUnreaded">1</div>
            </div>
        </div>
    </div>
</div>