<div class="page">
  <div class="app mainpage">
    <app-header></app-header>

    <div class="containerSearch">
      <input
        type="text"
        id=""
        class="userSearch"
        placeholder="Search Users"
        [(ngModel)]="searchQuery"
        (input)="searchUsers()"
      >
    </div>

    <!-- Display filtered results -->
    <div *ngIf="getFilteredResults().length > 0">
      <ul>
        <li *ngFor="let user of getFilteredResults()">
          {{ user.username }} - {{ user.email }}
        </li>
      </ul>
    </div>
  </div>
</div> 