.page {
  overflow: hidden;
  width: 360px;
  height: 650px;
  border-radius: 30px;
  box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
}

.userSearch {
  display: flex;
  width: 65%;
  height: 40px;
  border-radius: 20px;
  border: 0px solid #f3f4f7;
  box-shadow: inset 3px 3px 5px rgba(55, 84, 170, .15),
    inset -3px -3px 5px rgba(255, 255, 255, 1) !important;
  padding: 5px 15px;
  outline: none !important;
  color: #535D74;
}

.containerSearch {
  display: flex;
  justify-content: center;
  background-color: #f3f4f7;
  margin-bottom: 10px;
}

.containerContactChat {
  display: flex;
  height: 35px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.menuButtonContainer {
  border: none;
  width: 100%;
  border-radius: 40px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.menuButtonContainer:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.chats {
  display: flex;
  width: 50%;
  margin-right: 10px;
}

.contactList {
  display: flex;
  width: 50%;
}

.userListContainer {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.userList {
  display: flex;
  flex-direction: column;
  margin-top: 50px !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 78%;
}

.userItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(55, 84, 170, 0.2), -3px -3px 5px rgb(255, 255, 255), 0px 0px 4px rgba(255, 255, 255, 0.2);
  margin-right: 20px;
}

.profilImage img {
  display: flex;
  height: 30px;
  width: 30px;
}

.menuButton img {
  max-width: 100%;
  max-height: 100%;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  border-radius: 40px;
  margin-left: 20px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.menuButton:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.dropdown {
  position: absolute;
  width: 24%;
  top: 191px;
  left: 359px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.dropdown li:last-child {
  border-bottom: none;
}

.searchDesignOne {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 3px 3px 5px rgba(55, 84, 170, .15), inset -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
  border-radius: 20px;
}

.searchDesignTwo {
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 5px rgba(55, 84, 170, .15), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
  border-radius: 20px;
}

.containerInformation {
  height: 65px;
  overflow: hidden;
  margin-bottom: -10px;
  margin-left: 19px;
  width: 77%;
}

.information {
  display: flex;
  margin-top: 5px;
}

.UserName {
  display: flex;
  color: #3C475A;
  font-size: 18px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.onlineStatus {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.online {
  background-color: green;
}

.offline {
  background-color: gray;
}

.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 90%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  background-color: #02c8db;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s;
}

.favoriteChats {
  display: flex;
  flex-direction: column;
  height: 300px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.container {
  display: flex;
}

@media (max-width: 540px) {
  .page {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border-radius: 30px;
    box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
  }
}