.page {
  overflow: hidden;
  width: 360px;
  height: 650px;
  border-radius: 30px;
  margin: 25px auto;
  box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
}

.userSearch {
  display: flex;
  width: 65%;
  height: 40px;
  border-radius: 20px;
  border: 0px solid #f3f4f7;
  box-shadow: inset 3px 3px 5px rgba(55, 84, 170, .15),
    inset -3px -3px 5px rgba(255, 255, 255, 1) !important;
  padding: 5px 15px;
  outline: none !important;
  color: #535D74;
}

.containerSearch {
  display: flex;
  justify-content: center;
  background-color: #f3f4f7;
  margin-bottom: 10px; 
}

.userListContainer {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.userList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.userItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 54px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  margin-right: 20px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  position: relative;
}

.menuButton img {
  max-width: 100%;
  max-height: 100%;
}


.menuButton {
  border: none;
  border-radius: 40px;
  margin-left: 20px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.menuButton:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}