<div class="headline">
    <div class="profilImage">
        <img src="./assets/img/pic.png">
    </div>
    <p>{{ greeting }}, <b>{{ username }}</b></p>
    <div class="dropdown">
        <button class="menuButton" type="button" (click)="toggleDropdown()">
            <img src="./assets/img/menu.png">
        </button>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
            <button (click)="openProfile()" class="menuButtonProfile" type="button"><a>Profile</a></button>
            <button (click)="openGroupChat()" class="menuButtonGroup" type="button"><a>Create group chat</a></button>
            <button (click)="openConfirmation()" class="menuButtonGroup" type="button"><a>Delete Account</a></button>
        </div>
    </div>
</div>

<div class="popup" *ngIf="showConfirmation">
    <p>Are you sure you want to delete your account ?</p>
    <div class="popupbutton">
        <button (click)="cancelDelete()" class="menuButtonContainer" type="button">Cancel</button>
        <button (click)="confirmDelete()" class="menuButtonContainerDelete" type="button">Delete</button>
    </div>
</div>