<form (ngSubmit)="registerUser()" #registerForm="ngForm">
    <div class="login-div">
        <div class="logo"></div>
        <div class="title">Sign Up</div>
        <div class="fields">
            <div class="username">
                <label>
                    <input type="text" name="username" placeholder="Username" [(ngModel)]="username" required>
                </label>
            </div>
            <div class="password">
                <label>
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
                </label>
            </div>
            <div class="password">
                <label>
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                </label>
            </div>
        </div>
        <button class="signin-button" type="submit" [disabled]="registerForm.invalid">Registrieren</button>
        <div class="link">
            <a href="#">Forget password?</a> or <a href="#">Log In</a>
        </div>
    </div>
</form>