.page {
  overflow: hidden;
  width: 360px;
    height: 650px;
  border-radius: 30px;
  box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
}

.headlineProfile {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  right: 15px;
}

.profileName {
  display: flex;
  margin-left: 33px;
  font-size: 30px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.menuButton img {
  max-width: 100%;
  max-height: 100%;
}

.menuButton:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.chatList {
  margin-top: 20px;
}

.profilImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(55, 84, 170, 0.2), -3px -3px 5px rgb(255, 255, 255), 0px 0px 4px rgba(255, 255, 255, 0.2);
  margin-right: 20px;
}

.profilImage img {
  display: flex;
  height: 30px;
  width: 30px;
}

.menuButton img {
  max-width: 100%;
  max-height: 100%;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  border-radius: 40px;
  margin-left: 20px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.menuButton:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.containerTitle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title {
  display: flex;
  justify-self: center;
  font-size: 30px;
  font-weight: 700;
}

.containerPreview {
  margin-left: -5px;
  max-height: 580px;
  margin-right: 15px;
}

.container {
  display: flex;
  margin-left: 15px;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 3px 3px 5px rgba(55, 84, 170, 0), inset -3px -3px 5px rgba(255, 255, 255, 0);
  transition: box-shadow .25s ease;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 54px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
}

.containerInformation {
  height: 65px;
  overflow: hidden;
  margin-bottom: -10px;
  margin-left: 19px;
  width: 77%;
}

.information {
  display: flex;
  margin-top: 5px;
}

.UserName {
  display: flex;
  color: #3C475A;
  font-size: 18px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  text-align: end;
  flex-grow: 1;
  color: #838B99;
  font-size: 12px;
  line-height: 27px;
}

.informationChat {
  display: flex;
}

.lastMessageUnreaded {
  text-align: center;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  background-color: #6da8ff;
  color: #fff;
  border-radius: 11px;
  padding: 0 7px;
  width: min-content;
  margin: 0 0 0 5px;
  box-shadow: 2px 3px 5px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
}

.lastMessageText {
  color: #838B99;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  flex-grow: 1;
}

.onlineStatus {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.online {
  background-color: #02c8db;
}

.offline {
  background-color: gray;
}

.favorite {
  border: 2px solid #02c8db;
}

@media (max-width: 540px) {
  .page {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      border-radius: 30px;
      box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
  }
}