<div class="page">
  <div class="headlineProfile">
    <span class="profileName"><b>{{ chatDataService.username }}</b></span>
    <button class="menuButton" type="button" (click)="goToMainPage()">
      <img src="./assets/img/arrow.png">
    </button>
  </div>
  <div class="containerTitle">
    <div class="title">Chats</div>
  </div>
  <div class="chatList" *ngIf="chatDataService.chats.length > 0">
    <div class="containerPreview" *ngFor="let chat of chatDataService.chats" (click)="openChatDialog(chat)">
      <div class="container">
        <div class="userImage">
          <img src="./assets/img/pic.png">
        </div>
        <div class="containerInformation">
          <div class="information">
            <div class="UserName">{{ chat.displayName || chatDataService.chatUsernames[chatDataService.chatId] }}</div>
            <div *ngIf="shouldDisplayOnlineStatus(chat)" class="onlineStatus" [ngClass]="{'online': chat.online, 'offline': !chat.online}"></div>
          </div>
          <div class="informationChat">
            <div class="lastMessageText">{{ chat.lastMessage?.text || 'Keine Nachrichten' }}</div>
            <div class="lastMessageUnreaded"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>