<div class="page">
    <div class="contentSide">
        <div class="headlineProfile">
            <div class="profilImage">
                <img src="./assets/img/profile+.png">
            </div>
            <button class="menuButton" type="button" (click)="goToMainPage()"><img
                    src="./assets/img/arrow.png"></button>
        </div>
        <div class="containerChat">
            <div class="message messageReceived">
                <div class="messageText">Basti was machste</div>
                <div class="messageTime">9:10</div>
            </div>
            <div class="message messageReceived">
                <div class="messageText">komm On</div>
                <div class="messageTime">9:11</div>
            </div>
            <div class="message messageSend">
                <div class="messageText">okay mach mir ebend schnell noch ne kravallbüchse auf</div>
                <div class="messageTime">9:12</div>
            </div>
            <div class="message messageReceived">
                <div class="messageText">bring mir auch eine mit!</div>
                <div class="messageTime">9:12</div>
            </div>
        </div>
    </div>
    <div class="container">
        <textarea type="text" id="" class="userSearch"></textarea>
    </div>
</div>