.page {
    overflow: hidden;
    width: 360px;
    height: 650px;
    border-radius: 30px;
    margin: 25px auto;
    box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
}

.chatTitle {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-self: center;
    font-size: 30px;
    font-weight: 700;
}

.usernames-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

.username {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.contentSide {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.headlineProfile {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.profilImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 54px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, .2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.menuButton img {
    max-width: 100%;
    max-height: 100%;
}

.menuButton:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.containerChat {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.message {
    max-width: 80%;
    margin: 10px 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.messageItem {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.messageReceived {
    display: flex;
    border-radius: 15px;
    box-shadow: inset 3px 3px 5px rgba(55, 84, 170, .15), inset -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-bottom-left-radius: 0;
}

.messageSend {
    display: flex;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(55, 84, 170, .15), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-bottom-right-radius: 0;
    margin-left: auto;
}

.messageText {
    text-align: start;
    color: #3b4659;
    padding: 10px;
    border-radius: 10px;
}

.messageTime {
    color: #838B99;
    font-size: 12px;
    text-align: end;
    margin: auto 15px 5px 0;
}

.container {
    display: flex;
    justify-content: center;
}

.userSearch {
    display: flex;
    margin-left: 15px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    border: 0px solid #f3f4f7;
    box-shadow: inset 3px 3px 5px rgba(55, 84, 170, 0.15), inset -3px -3px 5px rgb(255, 255, 255) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
}

.menuButton img {
    max-width: 50%;
    max-height: 50%;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 40px;
    margin-left: 20px;
    color: #6D7587;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, .2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.menuButton:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.admin-tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .admin-img:hover + .admin-tooltip {
    display: block;
  }