.page {
    overflow: hidden;
    width: 360px;
    height: 650px;
    border-radius: 30px;
    box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
}

.chatTitle {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-self: center;
    font-size: 30px;
    font-weight: 700;
}

.usernames-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 74px;
}

.usernames-container.scrollbar-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.usernames-container>div:first-child {
    margin-left: 0px;
    margin-bottom: 10px;
}

.usernames-container.more-than-three>div:first-child {
    margin-left: 80px;
    margin-bottom: 10px;
}

.usernames-scroll-container {
    display: inline-block;
}

.usernames-container::-webkit-scrollbar {
    height: 3px;
}

.usernames-container::-webkit-scrollbar-thumb {
    background-color: #02c8db;
}

.usernames-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.username {
    display: inline-block;
    border: 1px solid #02c8db;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
    white-space: nowrap;
    background-color: #fff;
}

.contentSide {
    display: flex;
    flex-direction: column;
    height: 66%;
    width: 100%;
}

.headlineProfile {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.profilImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 54px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(55, 84, 170, .2), -3px -3px 5px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, .2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.menuButton img {
    max-width: 100%;
    max-height: 100%;
}

.menuButton:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.containerChat {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    margin: 10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 95%;
    margin-left: 15px;
    width: 95%;
    overflow-x: scroll;
    scrollbar-color: #02c8db transparent;
}

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #02c8db;
    border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #027ca7;
}

.messageContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.messageTextDisplay {
    display: flex;
    width: 77%;
}

.messageReceived {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: inset 3px 3px 5px rgba(55, 84, 170, 0.15), inset -3px -3px 5px rgb(255, 255, 255), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
    border-bottom-left-radius: 0;
    margin-top: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 15px;
}

.messageSend {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(55, 84, 170, 0.15), -3px -3px 5px rgb(255, 255, 255), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
    border-bottom-right-radius: 0;
    margin-top: 30px;
    margin-right: 120px;
    padding: 10px;
}

.messageText {
    text-align: start;
    color: #3b4659;
    padding: 10px;
    border-radius: 10px;
}

.messageTime {
    color: #838B99;
    font-size: 12px;
    text-align: end;
    margin: auto 15px 5px 0;
}

.container {
    display: flex;
    justify-content: center;
}

.userSearch {
    display: flex;
    margin-left: 15px;
    width: 77%;
    height: 50px;
    border-radius: 20px;
    border: 0px solid #f3f4f7;
    box-shadow: inset 3px 3px 5px rgba(55, 84, 170, 0.15), inset -3px -3px 5px rgb(255, 255, 255) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
    margin-right: 20px;
}

.admin-tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.admin-img:hover+.admin-tooltip {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    border-radius: 30px;
    width: 314px;
    background-color: #f9f9f9;
    margin-left: 28px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.menuButtonProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 40px;
    color: #6D7587;
    cursor: pointer;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, .2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.menuButtonProfile:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.titleAdminMenu {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-left: 75px;
    margin-top: 20px;
}

.hidden-button {
    display: none;
}

.container {
    position: relative;
}

.input-container {
    display: flex;
    width: 100vw;
}

.emoji-button {
    position: absolute;
    top: 8px;
    right: 75px;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.emoji-button img {
    display: flex;
    height: 30px;
    width: auto;
}

.emoji-popup {
    position: absolute;
    bottom: 70px;
    width: 30%;
    right: 39px;
    cursor: pointer;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 2px solid var(--back-color);
    background-color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.square.checked {
    background-color: #02c8db !important;
    border-color: #02c8db !important;
}

.checkmark {
    color: #fff;
    font-size: 20px;
}

.menuButtonFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, .2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.menuButtonFavorite:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.onlineStatus {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px;
}

.online {
    background-color:#02c8db;
}

.offline {
    background-color: gray;
}


@media (max-width: 540px) {
    .page {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        border-radius: 30px;
        box-shadow: 12px 12px 50px 5px rgba(0, 0, 0, .2);
    }
}