<div class="page">
  <div class="headlineProfile">
    <div class="profilImage">
      <img src="./assets/img/profile+.png">
    </div>
    <button class="menuButton" type="button" (click)="goToMainPage()"><img src="./assets/img/arrow.png"></button>
    
     
  </div>
  <div class="chatTitle" *ngIf="showChatTitle && chat.groupName">
    <div class="title">{{ chat.groupName }}</div>
  </div>
  
  <div class="messageItem usernames-container" *ngIf="usernamesLoaded && chat.groupName">
    <div *ngFor="let uid of chat.selectedContacts" class="username">
      {{ chatDataService.usernames[uid] }}
    </div>
  </div>


  <div class="contentSide">
    <div class="message">
      <div class="messageItem">
        <div></div>
      </div>
    </div>
  </div>
  <div class="container">
    <input type="text" class="userSearch" placeholder="Nachricht eingeben...">
    <!--<button (click)="sendMessage()" class="menuButton"><img src="./assets/img/send.png"></button>-->
  </div>
</div>