<div class="page">
  <div class="headlineProfile">
    <span class="profileName"><b>{{ username }}</b></span>
    <button class="menuButton" type="button" (click)="goToMainPage()">
      <img src="./assets/img/arrow.png">
    </button>
  </div>
  <div class="content">
    <div class="containerUser" *ngFor="let contact of contacts">
      <div class="userImage">
        <img src="./assets/img/pic.png">
      </div>
      <div class="containerInformation">
        <div class="information">
          <div class="UserName">
            {{ contact.username }}
            <div class="onlineStatus" [ngClass]="{'online': contact.online, 'offline': !contact.online}"></div>
          </div>
        </div>
        <button class="sendMessage menuButton" (click)="addContactToChat(contact)"><img src="/assets/img/send.png"></button>
        <button class="trash menuButton" (click)="deleteContact(contact)"><img class="trash" src="/assets/img/trash.png"></button>
      </div>
    </div>
  </div>
</div>